.ki-product-page {
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 990px) {
  .ki-product-page
    .ki-product.product--large:not(.product--no-media)
    .product__media-wrapper,
  .ki-product-page
    .ki-product.product--large:not(.product--no-media)
    .product__info-wrapper {
    width: 50%;
    max-width: 50%;
    z-index: 2;
  }
}

.ki-product .product__media-wrapper .grid {
  row-gap: 0;
}

.ki-product .product__media-wrapper .global-media-settings {
  width: 100%;
  border: none;
}

.ki-product .product__media-icon {
  display: none;
}

.ki-product.product--stacked .product__media-item,
.media--transparent {
  background-color: var(--productCardColor);
}

.ki-product .product__media-list .product__media-item {
  max-width: 100%;
}

@media screen and (min-width: 990px) {
  .ki-product.product--stacked .product__media-item {
    width: 100%;
  }
}

.ki-product.product--large:not(.product--no-media) .product__info-wrapper {
  padding-right: 20px;
  padding: 0px 0 0 152px;
}

.ki-product .product__info-container {
  max-width: 61rem;
}

@media (min-width: 1440px) {
  .ki-product .product__info-container {
    max-width: 656px;
  }
}

.ki-product__column-sticky {
  display: block;
  position: sticky;
  top: 20rem;
  z-index: 2;
}

.ki-product-title__container {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 16px;
}

.ki-product .product__info-container .product__title h1 {
  font-family: var(--footer-headFont);
  font-size: 26px;
  line-height: normal;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
}

.ki-pdp__badge-container {
  display: inline-block;
}

.ki-product-title__container .ki-pdp__badge {
  margin: 0;
  margin-bottom: 1.5rem;
  border-radius: 4px;
}

.ki-product .product__info-container > * + * {
  margin: 0;
}

.ki-product .product__info-container .ki-block-text {
  font-family: Gotham-Light;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  margin: 0;
  color: #353535;
}

.ki-product .product-form__quantity .form__label,
.ki-product .product-form__input .form__label {
  display: none;
}

.ki-product .product-form__input input[type="radio"]:checked + label {
  background-color: #4f4f4f;
  color: rgb(255, 255, 255);
  border-radius: 0;
  border: 1px solid #4f4f4f;
  text-transform: lowercase;
}

.ki-product .product-form__input input[type="radio"] + label {
  border: 1px solid #dbdbdb;
  border-radius: 0;
  text-transform: lowercase;
  padding: 13px;
  font-size: 16px;
  margin-top: 0;
}

.ki-product .product-form__input {
  padding-bottom: 32px;
  padding-top: 0;
  margin: 0;
}

.ki-product .product-form__input {
  padding-bottom: 32px;
  padding-top: 0;
  margin: 0;
}

.product-form__quantity {
  clear: both;
}

.ki-product .quantity {
  width: 111px;
  min-height: 32px;
}

.ki-product .product__info-container .product-form,
.ki-product .product__info-container .product__description,
.ki-product .product__info-container .icon-with-text {
  margin: 0;
}

.ki-product .product-form__buttons {
    max-width: 100%;
    font-family: Gotham-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}

.ki-product .product-form__buttons .product-form__submit.button {
    background-color: #4f4f4f;
}

.ki-product .product__accordion {
  border-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ki-product .product__info-container div:nth-child(9) {
  border-bottom: 0px;
}

.ki-product .accordion__title {
    font-family: Gotham-Medium;
    font-size: var(--text-16);
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
    color: #000;
}

.ki-product .accordion__content {
  padding-left: 0px;
}

.ki-product .accordion__content p {
    font-family: Gotham-Book;
    text-align: justify;
}

.ki-product .accordion__content .metafield-rich_text_field ul li:nth-child(2)  {
  list-style: none;
  padding-left: 2.2rem;
}

.ki-product .accordion__content .metafield-rich_text_field ul {
  margin-top: 0;
}

.ki-product .icon-with-text {
    border: .5px solid #dbdbdb;
    min-height: 94px;
    align-items: flex-start;
    padding: 18px 14px;
}

@media (min-width: 1440px) {
.ki-product .icon-with-text {
    padding: 22px 24px;
}
}

.ki-product .icon-with-text img {
    width: 38px;
    height: auto;
}

.ki-product .ki-icon-with-text .ki-icon-with-text__heading {
    font-family: Gotham-book;
    font-size: var(--text-14);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-transform: capitalize;
    color: #000;
    word-break: inherit;
}

.ki-icon-with-text__heading {
    padding: 10px 0;
}

.ki-product .ki-icon-with-text .ki-icon-with-text__subheading {
    font-family: Gotham-Book;
    font-size: var(--text-12);
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    padding: 10px 0 0;
    color: #000;
    min-height: 50px;
}