@media(min-width:750px) {
  .ki-product-page .ki-product.product .product__info-wrapper {
        padding-bottom: 100px;
    }
    .product__info-wrapper variant-selects {
    max-width: max-content;
    display: inline;
}
}