/* ki-variables.css */
@font-face {
  font-family: 'Gotham-Book';
  src: url('https://cdn.shopify.com/s/files/1/0764/5151/2377/files/Gotham-Book.woff2?v=1765716310') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('https://cdn.shopify.com/s/files/1/0764/5151/2377/files/Gotham-Light.woff2?v=1765716432') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('https://cdn.shopify.com/s/files/1/0764/5151/2377/files/Gotham-Medium.woff2?v=1765716432') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #ffffff;
  --offwhite: #F8F5F0;
  --footerHeading: 20px;
  --footerSubheading: 14px;
  --footer-subFont: 'Gotham-Book';
  --footer-headFont: 'Gotham-Medium';
  --themeIvory: #eee5da;
  --productCardColor: #F5E7C6;
  --heading: 32px;
  --headingMobile: 24px;
  --text-18: 18px;
  --text-17: 17px;
  --text-16: 16px;
  --text-15: 15px;
  --text-14: 14px;
  --text-13: 13px;
  --text-12: 12px;
  --text-20: 20px;
  --colorBlack: #000000;
  --colorlightBlack: #353535;
  --header-height-desktop: 170px;
  --header-height-mobile: 118px;
  --transition-timing: .15s;
  --bg-color: #1d1d1d;
  --light-color: #444;
  --dark-color: #000;
  --icon-color: #65615f;
}

/* Optional:  Adjust header height for mobile */
@media screen and (max-width: 989px) {
  :root {
    --header-height-desktop: var(--header-height-mobile);
  }
}

@media screen and (max-width: 440px) {
  :root {
    --header-height-mobile: 118px;
    --header-height-desktop: var(--header-height-mobile);
  }
}

body #site-scroll {
    position: fixed;
    bottom: 20px;
    left: 3%;
    z-index: 3;
    max-height: 48px;
}

*:focus-visible {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}

.page-width--full {
    padding: 0 !important;
    width: 100%;
    max-width: none;
}

body {
  font-family: Gotham-Book;
}

